<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>需要相机进行实时反光衣检测</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>需要相册选择图片进行检测</string>
</dict>
</plist>